body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(148, 38%, 91%);
}
.container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(18, 5, 5, 0.1);
  padding: 20px;
  width: fit-content;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 20px;
}
ul {
  list-style: none;
  display: inline-flex;
}

.form-group {
  flex: 1; /* Each input takes equal space */
  margin-right: 20px; /* Space between the two inputs */
}

.form-group:last-child {
  margin-right: 10px; /* Remove margin from the last input */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Adjust this value for more or less curvature */
}
.email-group input {
  height: 30px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Adjust this value for more or less curvature */
}
.query-group {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 20px;
}
.general-group {
  display: flexbox;
  width: 150px;
  height: 25px;
  margin: 15px;
  border: 1px solid rgb(131, 128, 128);
  border-radius: 8px;
}
.support-group {
  display: flexbox;
  width: 150px;
  height: 25px;
  margin: 15px;
  border: 1px solid rgb(118, 116, 116);
  border-radius: 8px;
}
.message-group input {
  width: 400px;
  height: 100px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Adjust this value for more or less curvature */
}
.button {
  background-color: #04aa6d; /* Green */
  border: 10px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: block;
  font-size: 16px;
}
